.Categories {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
}
.FilterButton {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: lightcoral;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 0.25rem;
}

.FilterButton:hover {
  background: lightcoral;
  color: white;
}
