.ProductItem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black;
  margin: 5px;
  height: 400px;
  width: 400px;
  padding: 10px;
  box-shadow: 5px 5px #ddd;
}

.ProductImage {
  display: block;
  width: 300px;
  max-height: 150px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.AddShoppingCart {
  margin-top: auto;
  margin-left: auto;
}

.ProductTitle {
  text-align: center;
  padding: 10px;
  font-size: 2em;
}

.ProductDescription {
  padding: 10px;
}

.ProductPrice {
  padding: 10px;
}
