.Toolbar {
  display: flex;
  width: 100%;
  background-color: coral;
  padding: 10px;
}

.Toolbar .NavLink {
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2em;
  margin: 0 2px;
}

.Toolbar .NavLink:hover {
  background-color: #ccc;
}

.Toolbar .CartIcon {
  font-size: 2em;
  color: black;
}

.Toolbar .Cart {
  display: block;
  margin-left: auto;
  cursor: pointer;
  align-self: center;
  position: relative;
  width: 40px;
  height: 35px;
}
