.ShoppingCart {
  font-size: 2em;
  margin-left: 20vw;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.ShoppingCart .Item {
  border: 1px solid black;
  display: inline-block;
  padding: 5px;
}

.ShoppingCart .OrderBtn {
  background-color: lightskyblue;
  color: white;
  margin-left: auto;
  font-size: 1em;
  padding: 10px 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.ShoppingCart .OrderBtn:hover {
  background-color: blue;
}

.RemoveItemButton {
  display: block;
  background-color: lightcoral;
  color: black;
  font-size: 0.5em;
  padding: 10px 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-right: auto;
}

.RemoveItemButton:hover {
  background-color: coral;
}

.AddItemButton {
  display: block;
  background-color: lightcoral;
  color: black;
  font-size: 0.5em;
  padding: 10px 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-left: auto;
}

.AddItemButton:hover {
  background-color: coral;
}

.ProductControls {
  display: flex;
}
