.OrderWrap {
  display: flex;
  justify-content: center;
}
.Order {
  display: inline-block;
  margin: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.Input {
  padding: 2px 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Submit {
  width: 100%;
  display: block;
  background-color: lightskyblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Submit:hover {
  background-color: blue;
}
